<h2>with-commas Helper</h2>
{{with-commas  9999999999}}

<h2>MySwitch Component</h2>
{{featureEnabled}}
<MySwitch @on={{featureEnabled}} @onClick={{action "toggleFeature"}} />

<h2>AsyncButton Component</h2>
<AsyncButton
  @defaultText="Save"
  @pendingText="Saving..."
  @onclick={{action "saveUser"}}/>

<AsyncButton
  @defaultText="Delete"
  @pendingText="Deleting..."
  @onclick={{action "deleteUser"}}/>

<h2>CharactersRemaining Component</h2>
{{input value=name}}
<CharactersRemaining class="my-class" @text={{name}} @max={{10}}/>

<br />

<CharactersRemaining @text={{name}} @max={{10}} as |remaining|>
  Characters Remaining: {{remaining}}
</CharactersRemaining>

{{outlet}}
